.separator {
  align-items: center;
  color: var(--white);
  display: flex;
}

.separator::before,
.separator::after {
  background: var(--white);
  content: "";
  flex-grow: 1;
  font-size: 0;
  height: 1px;
  line-height: 0;
}

.separator::before {
  margin-right: 1rem;
  max-width: 5rem;
}

.separator::after {
  margin-left: 1rem;
}
