#filters {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.search {
  flex: 1 1;
}

@media screen and (max-width: 767px) {
  .search {
    flex-basis: 100%;
  }
}
