#filters {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.search {
  border-radius: 4px 0 0 4px;
  flex: 1 1;
  height: 4rem;
}

.algolia-logo {
  height: 4rem;
  margin-right: 2px;
}

@media screen and (max-width: 767px) {
  .search {
    flex-basis: calc(100% - 4.2rem);
  }
}
