.filter {
  border-left: 1px solid var(--white);
  height: 4rem;
  position: relative;
}

.filter:first-of-type {
  border-left: 0;
}

.filter > button {
  height: 100%;
}

.filter__values {
  display: none;
  left: 0;
  list-style: none;
  max-height: 20rem;
  max-width: 25rem;
  overflow: auto;
  position: absolute;
  top: 4.2rem;
  z-index: 5;
}

.filter:last-of-type .filter__values {
  right: 0;
}

.filer__values-active {
  display: block;
}

.filter__values li {
  align-items: center;
  display: flex;
}

.filter__label {
  margin-left: 0.5rem;
}
