#commits {
  list-style: none;
  overflow: auto;
}

#commits li {
  display: flex;
  align-items: center;
  padding: 0.5rem;
}

.label {
  border-radius: 4px;
  padding: 0.5rem;
  margin-right: 0.5rem;
  color: var(--white);
}
