{{ define "modal-buttons" }}
  <p class="padding no-margin center">
    <a href="#" class="button white">Cancel</a>
    <button type="submit" class="button bg-primary">{{ . }}</button>
  </p>
{{ end }}

{{ define "filters" }}
  <style type="text/css">
    #filters:target {
      display: flex;
      z-index: 5;
    }

    #filters:target ~ .content {
      display: flex;
      z-index: 5;
    }

    .block {
      display: block;
    }

    #filters-form {
      min-width: 25rem;
    }
  </style>

  {{ $root := . }}

  <aside id="filters" class="modal">
    <div class="modal-content">
      <h2 class="header no-margin">Filters</h2>

      <form method="GET" id="filters-form" action="/">
        <p class="padding no-margin">
          <label for="repository" class="block">Repository</label>
          <select id="repository" name="repository" class="full" multiple>
            {{ range .Repositories }}
              <option value="{{ . }}" {{ if $root.Filters.repository }}{{ if contains $root.Filters.repository . }}selected{{ end }}{{ end }}>{{ . }}</option>
            {{ end }}
          </select>
        </p>

        <p class="padding no-margin">
          <label for="type" class="block">Type</label>
          <select id="type" name="type" class="full" multiple>
            {{ range .Types }}
              <option value="{{ . }}" {{ if $root.Filters.type }}{{ if contains $root.Filters.type . }}selected{{ end }}{{ end }}>{{ . }}</option>
            {{ end }}
          </select>
        </p>

        <p class="padding no-margin">
          <label for="component" class="block">Component</label>
          <select id="component" name="component" class="full" multiple>
            {{ range .Components }}
              <option value="{{ . }}" {{ if $root.Filters.component }}{{ if contains $root.Filters.component . }}selected{{ end }}{{ end }}>{{ . }}</option>
            {{ end }}
          </select>
        </p>

        <p class="padding no-margin">
          <label for="after" class="block">After</label>
          <input id="after" name="after" type="date" placeholder="2020-01-31" value="{{ with .Filters.after }}{{ index . 0 }}{{ end }}">
          <label for="before" class="block">Before</label>
          <input id="before" name="before" type="date" placeholder="2020-12-31" value="{{ with .Filters.before }}{{ index . 0 }}{{ end }}">
        </p>

        {{ template "modal-buttons" "Filter" }}
      </form>
    </div>
  </aside>
{{ end }}
