.filter {
  margin-top: 2rem;
}

.filter:first-of-type {
  margin-top: 0;
}

.filter__values {
  list-style: none;
  overflow: auto;
  max-height: 30rem;
}

.filter__values li {
  align-items: center;
  display: flex;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}

.filter__label {
  margin-left: 0.5rem;
}
