{{ define "seo" }}
  {{ $title := "Herodote - Git historian" }}
  {{ $description := "Herodote allows you to explore my git history accross multiple repositories, like a changelog." }}

  <title>{{ $title }}</title>
  <meta name="description" content="{{ $description }}">
  <meta property="og:title" content="{{ $title }}" />
  <meta property="og:description" content="{{ $description }}" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{ publicURL "" }}" />
  <meta property="og:image" content="{{ publicURL "/images/favicon/android-chrome-512x512.png" }}" />
  <meta property="og:image:height" content="512" />
  <meta property="og:image:width" content="512" />
{{ end }}

{{ define "favicon" }}
  <link rel="apple-touch-icon" sizes="180x180" href="{{ url "/images/favicon/apple-touch-icon.png" }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ url "/images/favicon/favicon-32x32.png" }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ url "/images/favicon/favicon-16x16.png" }}">
  <link rel="manifest" href="{{ url "/images/favicon/site.webmanifest" }}">
  <link rel="mask-icon" href="{{ url "/images/favicon/safari-pinned-tab.svg" }}" color="#5bbad5">
  <link rel="shortcut icon" href="{{ url "/images/favicon/favicon.ico" }}">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="msapplication-config" content="/images/favicon/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">
{{ end}}

{{ define "header-part" }}
  <a href="#filters" class="button bg-primary" title="Filter">
    <img class="icon" src="{{ url "/svg/filter" }}?fill={{ urlquery "#272727" }}" alt="Filter icon">
  </a>
{{ end }}

{{ define "head" }}
  <style type="text/css" nonce="{{ .nonce }}">
    .label {
      border-radius: 4px;
    }

    .revert {
      margin-left: calc(var(--space-size) / 2);
    }

    #commits {
      list-style: none;
      overflow: auto;
    }

    #commits li {
      align-items: center;
      display: flex;
      flex-wrap: wrap;
      padding-bottom: 0.5rem;
      padding-top: 0.5rem;
    }

    .separator {
      align-items: center;
      color: var(--white);
      display: flex;
    }

    .separator::before,
    .separator::after {
      background: var(--white);
      content: "";
      flex-grow: 1;
      font-size: 0;
      height: 1px;
      line-height: 0;
    }

    .separator::before {
      margin-right: 1rem;
      max-width: 5rem;
    }

    .separator::after {
      margin-left: 1rem;
    }

    @media screen and (max-width: 767px) {
      .commit-link {
        flex-basis: 100%;
      }
    }

    {{ range .Colors }}
      .bg-{{ . }} {
        background-color: {{ . }};
      }
    {{ end }}
  </style>

  {{ template "filters-style" . }}
{{ end }}

{{ define "app" }}
  {{ $root := . }}

  {{ template "filters" . }}

  <article>
    <ol id="commits" class="no-padding no-margin">
      {{ $previousDistance := "" }}

      {{ range .Commits }}
        {{ $distance := dateDistanceInDays .Date $root.Now }}
        {{ if ne $previousDistance $distance }}
          {{ $previousDistance = $distance }}
          <li>
            <div class="separator full">{{ $distance }}</div>
          </li>
        {{ end }}

        <li class="padding">
          <a class="bg-primary button padding-half bg-{{ colors . }}" href="{{ url "" }}{{ toggleParam $root.Path $root.Filters "repository" .Repository }}">
            {{ .Repository }}
          </a>

          {{ if .Breaking }}
            <span class="bg-danger padding-half revert label">BREAKING CHANGE</span>
          {{ end }}

          {{ if .Revert }}
            <span class="bg-danger padding-half revert label">Revert</span>
          {{ end }}

          <pre class="label padding-half no-margin"><a class="success" href="{{ url "" }}{{ toggleParam $root.Path $root.Filters "type" .Type }}">{{ .Type }}</a>
            {{- if .Component -}}
              <a href="{{ url "" }}{{ toggleParam $root.Path $root.Filters "component" .Component }}"><strong class="primary">({{ .Component }})</strong></a>
            {{- end -}}
          </pre>

          <a class="commit-link ellipsis" href="https://{{ .Remote }}/{{ .Repository }}/commit/{{ .Hash }}">
            {{ .Content }}
          </a>
        </li>
      {{ end }}
    </ol>
  </article>
{{ end }}
